
#flatgebouw{
	width: 300px;
	height: 505px;
	background: red;
	position:absolute;
	top:95px;
}
#door{
	width: 75px;
	height: 125px;
	background:gray;
	position: absolute;
	left:112px;
	top:475px;
}

.windows{
	width: 50px;
	height: 50px;
	background: white;
	position: absolute;	
	
	
}

.windows:hover #person{
	visibility: hidden;
}

#window1{
	top:400px;
	left:25px;
}
#window2{
	top:300px;
	left:25px;
}
#window3{
	top:200px;
	left:25px;

}
#window4{
	top:100px;
	left:25px;
}
#window5{
	top:400px;
	left:225px;
}
#window6{
	top:300px;
	left:225px;
}
#window7{
	top:200px;
	left:225px;
}
#window8{
	top:100px;
	left:225px;
}

#window9{
	top:400px;
	left:125px;
}
#window10{
	top:300px;
	left:125px;
}
#window11{
	top:200px;
	left:125px;
}
#window12{
	top:100px;
	left:125px;
}
#deurknop {
	width: 20px;
	height: 20px;
	position:absolute;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	left:160px;
	top:525px;
}

#person{
	position:relative;
	
}

#shoulders{
	border: 2px solid;
	border-radius: 60px 60px 0px 0px;
	width:25px;
	height:10px;
	position:absolute;
	top:37px;
	left:12px;
	color:black;
}

#face{
    width: 20px;
    height: 20px;
    background: #ccc;
    border: 2px solid #000;
	border-radius: 50%;
	position:absolute;
	top:15px;
	left:15px;
}

#oog1{
	width: 5px;
    height: 5px;
    background: #ccc;
    border: 1px solid #000;
	border-radius: 50%;
	position:absolute;
	top:20px;
	left:19px;
}
#oog2{
	width: 5px;
    height: 5px;
    background: #ccc;
    border: 1px solid #000;
	border-radius: 50%;
	position:absolute;
	top:20px;
	left: 28px;
}

#smile{
 position: absolute;
  top: 18px;
  left:18px;
  height: 14px;
  width: 18px;
  margin: 0 auto;
  border-bottom: 1px solid #222;
  border-radius: 80%;
}