*{
	padding:0px;
	margin:0px;	
    box-sizing:border-box;
}

body{
    background-color:#f9fba8;
    font-family:verdana;
    color:#335c1a;
    font-size:14px;
	background-image:url("tuin.jpg");
	background-repeat: no-repeat;
} 
div#bloemen{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:193px;
    z-index:-2;
 	background-image: url("bloemen.jpg");
	background-repeat: no-repeat;
    background-size: cover; 
	
}

div#bloemengone{
	position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:193px;
    z-index:-2;

	background-color: white;
    background-size: cover; 
}
 
section { 
	min-height:100vh;
	padding-bottom:100px;
    clear:both;
    overflow:hidden;
}   

.box{
	width:960px;
    margin:0px auto;  	
}


header{
    height:143px;
    background: rgba(255,255,255,0.8); 
    margin-top:25px;
    padding:0px;
}

img#logo{
    float:left;
    margin-top:30px;
}


header h1{
    color:#0d0e0f;
    float:left;
    text-align:center;
    margin-top:60px;
    margin-left:-20px;
	font-size:1.3em;
}

header h1 span#regel2{
    color:#1b5d23;
}


header nav{
    float:right;
    width:650px;
    height:18px;
    padding:0px;
    margin-top:50px;
    font-size:16px;
}

header nav ul li{
    float:left;
    list-style-type:none;
    margin-right:20px;
}

header nav ul li a{
    color:#335c1a;
    text-decoration:none;
}
    
header nav ul li a:hover{
    color:#000;
    text-decoration:none;
}


section div#content{ 
    width:100%;
    height:100%;
    clear:both;
    overflow:hidden;

}

section  h2#onderwerp{
    margin-top:70px;
    margin-bottom:30px;
}

section div#content, section div#contactcontent{
    margin-top:30px;
    display:flex;
    justify-content: space-between;
	
}


section div#contactcontent{
    align-items: flex-end;
}

section div#content div#main{ 
    width:430px;
    height:100%;
    clear:both;
    float:left; 
}

section div#content aside{ 
    float:right;
	width:350px;
}


aside#contact{ 
    text-align:right;
}

aside div#contactgegevens{
    line-height:200%;
}


footer{
	width:100%;
	height:80px;
    margin-top:-80px;
	background-color:#335c1a;
	padding-top:25px;
    }
	
footer div#footer{
	text-align:right;
}

footer div#footer div#hovenier{ 
	margin-right:110px;
	float:left;
}

footer div#footer a{
	color:#999;
    text-decoration:none;
	margin:0px 25px;
}

footer div#footer a#laatste{ 
	margin-right:0px;
}


footer div#footer a:hover{
    color:#f9fba8;
}

form{    
    width:400px;
    float:left; 
    background-color:#335c1a; 
	border-color:#f9fba8;
    padding:10px;
	color: #f9fba8;
}
fieldset{
    margin-bottom:15px;
    padding:10px;
	border-color:#f9fba8;
}
    
label{
    display:block;
    margin: 9px 0px;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]), select{
    background-color:#000;                     
    border:1px solid #666;
    height:25px;
    color:#fff;
    margin:0px 5px 5px 0px;
    text-align:center;
}

input[type=checkbox], input[type=radio], input[type=submit]{
    margin:10px 0px;
}

input#adres, input#plaats{
    width:280px;
}
input#huisnummer, input#postcode{
    width:60px;
}

input#telno, input#email{
    width:355px;
}


input[type=submit]{
    background:#ccc;
    color:#222;
    width:100%;
    height:25px;
    font-weight:bold;
    
}

section div#maincontentcontainer{

	background-color: white;
	opacity:0.7;
    width: 450px;
	font-size:15px;
	border:10px;
    border-radius:15px;
    padding: 20px;
    margin: 60px 250px 70px 250px;
	font-family:verdana;
}

p.tit{
	color:#335c1a;
	font-size: 10px;
}

p.tat{
	font-size:8px;
}