.container{
	position:absolute;
	top:50%;
	left:10%;
	height:960px;
	width:960px;
	border:30px;
}

.container .dakparallelogram{
	position:absolute;
	width: 350px;
	height: 150px;
	transform: skew(-29deg);
	background:  #000000;
	left: 200px;
	
}

.container .dakonderrectangle{
	position: absolute;
	width: 350px;
	height: 150px;
	background:#1a1a1a ;
	top: 15.5%;
	left: 158px;
}

.container .daktrapezoid{
	position:absolute;
	border-bottom: 150px solid #800000;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	height: 0;
	width: 200px;
	left:508px;
}
.container .dakonderrectangle2{
	position: absolute;
	width: 350px;
	height: 150px;
	background:#4d1919;
	top: 15.5%;
	left: 508px;
}


.container .dakonderrectangle .door{
	width: 75px;
	height: 100px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 25px;
	position:absolute;
	left:35%;
	top:34%;
}

.container .dakonderrectangle .door .knob{
	width: 10px;
	height: 10px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 5px;
	left:10%;
	top:50%;
	position:absolute;
}

.container .dakonderrectangle .window{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:17%;
	top:25%;
}

.container .dakonderrectangle .window2{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:60%;
	top:25%;
}

.container .dakonderrectangle2 .window3{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:10%;
	top:25%;
}
.container .dakonderrectangle2 .window4{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:45%;
	top:25%;
}
.container .dakonderrectangle2 .window5{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:75%;
	top:25%;
}

#bg{
	height: 50vh;
	background-color: lightgreen;
}
#bodem{
	height: 50vh;
	background-color: blue;
}