#animalcontainer{
	postion: absolute;
	width: 250px  ;
	height:500px   ;
	top:20%  ;
	left: 30px ;
}


.face {
	width: 125px;
	height: 100px;
	background: pink;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	
}