.autocontainer{
	position: absolute;
	top: 75%;
	left: 50%;
	height:120px;
	width:340px;
	
	z-index:10;
}


.autocontainer .front{
	position:absolute;
	left:10%;
	top:20%;
	width: 100px;
	height: 75px;
	background:red;
	z-index:10;
}


.autocontainer .raam{
	position: absolute;
	top: 30%;
	left: 15%;
	width: 35px;
	height: 35px;
	background: yellow;
	z-index:10;
}

.autocontainer .back{
	position:absolute;
	left:39%;
	top:7%;
	width: 175px;
	height: 90px;
	background:blue;
	z-index:10;
}

.autocontainer .wiel1{
	position: absolute;
	top: 160px;
	left: 65px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}

.autocontainer .wiel2{
	position: absolute;
	top: 160px;
	left: 100px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}
.autocontainer .wiel3{
	position: absolute;
	top: 160px;
	left: 165px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}
.autocontainer .wiel4{
	position: absolute;
	top: 160px;
	left: 200px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}
.autocontainer .wiel5{
	position: absolute;
	top: 160px;
	left: 235px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}
.autocontainer .wiel6{
	position: absolute;
	top: 160px;
	left: 275px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}





























