body {
  background:#2EB5E5 ;
  overflow: hidden;
}

.sun { 	
	position:relative;
	top:10;
	left:10;
	right:10;
	bottom:10;
	margin: auto;  
	width:100px;
	height:100px;
	border-radius:50%;	
	background:yellow;
	opacity:0.9;			
	box-shadow: 0px 0px 40px 15px white;  
}
#clouds{
	padding: 10px 0;
	
}

.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}

.container{
	position:absolute;
	top:50%;
	height:960px;
	width:100%;
	border:30px;
	left:15%;
	
	
	
}

.container .dakparallelogram{
	position:absolute;
	width: 350px;
	height: 150px;
	transform: skew(-29deg);
	background:  #000000;
	left: 200px;
	
}

.container .dakonderrectangle{
	position: absolute;
	width: 350px;
	height: 150px;
	background:#1a1a1a ;
	top: 15.5%;
	left: 158px;
}

.container .daktrapezoid{
	position:absolute;
	border-bottom: 150px solid #800000;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	height: 0;
	width: 200px;
	left:508px;
}
.container .dakonderrectangle2{
	position: absolute;
	width: 350px;
	height: 150px;
	background:#4d1919;
	top: 15.5%;
	left: 508px;
}


.container .dakonderrectangle .door{
	width: 75px;
	height: 100px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 25px;
	position:absolute;
	left:35%;
	top:34%;
}

.container .dakonderrectangle .door .knob{
	width: 10px;
	height: 10px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 5px;
	left:10%;
	top:50%;
	position:absolute;
}

.container .dakonderrectangle .window{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:17%;
	top:25%;
}

.container .dakonderrectangle .window2{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:60%;
	top:25%;
}

.container .dakonderrectangle2 .window3{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:10%;
	top:25%;
}
.container .dakonderrectangle2 .window4{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:45%;
	top:25%;
}
.container .dakonderrectangle2 .window5{
	width: 50px;
	height: 50px;
	background:#333333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
	position:absolute;
	left:75%;
	top:25%;
}

#boom3 {
    position:absolute;
    right: 400px;
    top: 320px;
    height: 200px;
    width: 100px;
    -ms-transform: scale(1.5, 1.5); 
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
        z-index: 3;
}
#squared{
    position: absolute;
    right: 40px;
    top: 160px;
    z-index: 3;
}
#squared {
	width: 20px;
	height: 40px;
	background: #2A120A;
        z-index: 3;
}
#squared{
	width: 20px;
	height: 55px;
	background: #2A120A;
        z-index: 4;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-up3 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-up5 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-up{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
}
#triangle-up3{
    position: absolute;
    right: 0px;
    top: 30px;
    z-index: 3;
}
#triangle-up5{
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 3;
}
#rectangle {
	width: 100%;
	height: 500px;
	background: LimeGreen ;
}
#flatgebouw{
	width: 300px;
	height: 510px;
	background: gray;
	position:absolute;
	top:95px;
}
#door{
	width: 75px;
	height: 125px;
	background:red;
	position: absolute;
	left:112px;
	top:475px;
}

.windows{
	width: 50px;
	height: 50px;
	background: white;
	position: absolute;	
	
	
}

.windows:hover #person{
	visibility: hidden;
}

#window1{
	top:400px;
	left:25px;
}
#window2{
	top:300px;
	left:25px;
}
#window3{
	top:200px;
	left:25px;

}
#window4{
	top:100px;
	left:25px;
}
#window5{
	top:400px;
	left:225px;
}
#window6{
	top:300px;
	left:225px;
}
#window7{
	top:200px;
	left:225px;
}
#window8{
	top:100px;
	left:225px;
}

#window9{
	top:400px;
	left:125px;
}
#window10{
	top:300px;
	left:125px;
}
#window11{
	top:200px;
	left:125px;
}
#window12{
	top:100px;
	left:125px;
}
#deurknop {
	width: 20px;
	height: 20px;
	position:absolute;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	left:160px;
	top:525px;
}

#person{
	position:relative;
	
}

#shoulders{
	border: 2px solid;
	border-radius: 60px 60px 0px 0px;
	width:25px;
	height:10px;
	position:absolute;
	top:37px;
	left:12px;
	color:black;
}

#face{
    width: 20px;
    height: 20px;
    background: #ccc;
    border: 2px solid #000;
	border-radius: 50%;
	position:absolute;
	top:15px;
	left:15px;
}

#oog1{
	width: 5px;
    height: 5px;
    background: #ccc;
    border: 1px solid #000;
	border-radius: 50%;
	position:absolute;
	top:20px;
	left:19px;
}
#oog2{
	width: 5px;
    height: 5px;
    background: #ccc;
    border: 1px solid #000;
	border-radius: 50%;
	position:absolute;
	top:20px;
	left: 28px;
}

#smile{
 position: absolute;
  top: 18px;
  left:18px;
  height: 14px;
  width: 18px;
  margin: 0 auto;
  border-bottom: 1px solid #222;
  border-radius: 80%;
}











.protector{
  background: transparent;
  width: 180px;
  height: 0;
  position: absolute;
  top: 20px;
  left: -35px;
  border-right: solid 30px transparent;
  border-left: solid 30px transparent;
  border-top: solid 90px #111;
  border-radius: 10px;
 
}
.protector:nth-child(2){
  top: 140px;
  
}

.protector:nth-child(3){
  top: 260px;
}
.red{
  background: red;
  background-image: radial-gradient(brown, transparent);
  background-size: 5px 5px; 
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 35px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px red;
    z-index: 20;
}

.yellow{
  background: yellow;
  background-image: radial-gradient(orange, transparent);
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 35px;
  
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px yellow;
    z-index: 20;
}
.green{
  background: green;
  background-image: radial-gradient(lime, transparent);
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 270px;
  left: 35px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px lime;
  z-index: 20;
}
@keyframes red{
  0%{opacity: 1;}
  20%{opacity: 1;}
  40%{opacity: 1;}
  60%{opacity: .1;}
  80%{opacity: .1;}
  100%{opacity: .1;}
}

@keyframes yellow{
  0%{opacity: .1;}
  20%{opacity: .1;}
  40%{opacity: 1;}
  50%{opacity: .1;}
  60%{opacity: .1;}
  80%{opacity: .1;}
  100%{opacity: .1;}
}

@keyframes green{
  0%{opacity: .1;}
  20%{opacity: .1;}
  40%{opacity: .1;}
  60%{opacity: 1;}
  80%{opacity: 1;}
  85%{opacity: .1;}
  90%{opacity: 1;}
  95%{opacity: .1;}
  100%{opacity: 1;}
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-up3 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-up5 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-up{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
}
#triangle-up3{
    position: absolute;
    right: 0px;
    top: 30px;
    z-index: 3;
}
#triangle-up5{
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 3;
}
#squared {
	width: 20px;
	height: 40px;
	background: #2A120A;
        z-index: 3;
}
#squared{
    position: absolute;
    right: 40px;
    top: 160px;
    z-index: 3;
}
#boom3 {
    position:absolute;
    right: 400px;
    top: 320px;
    height: 200px;
    width: 100px;
    -ms-transform: scale(1.5, 1.5); 
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
        z-index: 3;
}

#triangle-side {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-side3 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-side5 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-side{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
}
#triangle-side3{
    position: absolute;
    right: 0px;
    top: 30px;
    z-index: 3;
}
#triangle-side5{
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 3;
}
#squared {
	width: 20px;
	height: 40px;
	background: #2A120A;
        z-index: 3;
}
#squared{
    position: absolute;
    right: 40px;
    top: 160px;
    z-index: 3;
}
#boom4 {
    position:absolute;
    right: 600px;
    top: 380px;
    height: 200px;
    width: 100px;
    -ms-transform: scale(1.5, 1.5); 
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
        z-index: 3;
}

#triangle-vallen3 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-vallen5 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-vallen {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
        z-index: 3;

}
#triangle-vallen{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
}
#triangle-vallen{
    position: absolute;
    right: 0px;
    top: 30px;
    z-index: 3;
}
#triangle-vallen5{
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 3;
}
#squared{
	width: 20px;
	height: 55px;
	background: #2A120A;
        z-index: 4;
}
#squared{
    position: absolute;
    right: 40px;
    top: 160px;
    z-index: 4;
}
#boom5 {
    position:absolute;
    right: 270px;
    top: 400px;
    height: 380px;
    width: 100px;
    
    
	animation-name:spin;
	animation-duration: 2s;
    animation-fill-mode: forwards;  
	animation-iteration-count: 1;
    animation-timing-function: ease-in;
		z-index:3;
}
@keyframes spin { 100% { -webkit-transform: rotate(0deg); transform:rotate(90deg); } }











.autocontainer{
	position: absolute;
	top: 75%;
	left: 70%;
	height:120px;
	width:340px;
	
	z-index:0;
}


.autocontainer .front{
	position:absolute;
	left:10%;
	top:20%;
	width: 100px;
	height: 75px;
	background:white;
	z-index:10;
}


.autocontainer .raam{
	position: absolute;
	top: 30%;
	left: 15%;
	width: 35px;
	height: 35px;
	background: grey;
	z-index:10;
}

.autocontainer .back{
	position:absolute;
	left:39%;
	top:7%;
	width: 175px;
	height: 90px;
	background:LightSteelBlue ;
	z-index:10;
}

.autocontainer .wiel1{
	position: absolute;
	top: 160px;
	left: 65px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}

.autocontainer .wiel2{
	position: absolute;
	top: 160px;
	left: 100px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}
.autocontainer .wiel3{
	position: absolute;
	top: 160px;
	left: 165px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}
.autocontainer .wiel4{
	position: absolute;
	top: 160px;
	left: 200px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}
.autocontainer .wiel5{
	position: absolute;
	top: 160px;
	left: 235px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}
.autocontainer .wiel6{
	position: absolute;
	top: 160px;
	left: 275px;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50px;
	top: 72%;	
}

#complete{
	postion:absolute;
	top:15%;
}














