.boerderij{
	border-bottom: 200px solid green;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	position: absolute;
	height: 75px;
	width: 500px;
	top:50%;
	left:400px;
	
}

.container .house {
	background:black;
    display: inline-block;
	height: 55px;
	margin-left: 20px;
	margin-top: 55px;
    position: relative;
    width: 125px;
	left:185px;
	top: 10px;
	z-index:2;
}

.container .house::before {
  border-bottom: 45px solid brown;
  border-left: 62px solid transparent;
  border-right: 62px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -45px;
  width: 0; 
}


.boom {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #001a00;
}
