body {
  padding: 0; margin: 0;
  font-family: "Open Sans Condensed", "Open Sans", "Droid Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.7;
 
  color: #DFF7E5;
}

.farm {
  padding: 50px 20px 85px;
  color: #AFE4FC;
}


.boerderij, .boerderij div {
  margin: 0 auto;
  transform-origin: 25% 50%;
  overflow: hidden;
  width: 500px;
  height: 250px;
}
.boerderij {
  transform: rotate(10deg) translateY(10px);
}
.boerderij .boer {
  width: 355px;
  height: 355px;
  
}
.boerderij .boer img {
  width: 100%;
  height: auto;
}