#vachto{

}

#container{
	position: absolute;
	left: 300px;
	top: 50px;
	width: 300px;
	height: 150px;
	background: red;
}

#voorkant{
	position: absolute;
	top: 78px;
	left: 180px;
	width: 120px;
	height: 122px;
	background: blue;
}

#raam{
	position: absolute;
	top: 90px;
	left: 190px;
	width: 55px;
	height: 50px;
	background: white;
}

#wiel{
	position: absolute;
	top: 160px;
	left: 190px;
	width: 75px;
	height: 85px;
	background: black;
	border-radius: 50px;
}

#wiel2{
	position: absolute;
	top: 160px;
	left: 510px;
	width: 75px;
	height: 85px;
	background: black;
	border-radius: 50px;
	z-index: -1;
}

#wiel3{
	position: absolute;
	top: 160px;
	left: 300px;
	width: 75px;
	height: 85px;
	background: black;
	border-radius: 50px;
	z-index: -1;
}







